@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  @apply antialiased;
}

body {
  @apply bg-light-background dark:bg-dark-background text-light-text dark:text-dark-text transition-colors duration-300;
  margin: 0;
  font-family: system-ui, Apple Color Emoji, Segoe UI Emoji, Noto Color Emoji, sans-serif;

}

@layer components {
  .button {
    @apply bg-light-surface dark:bg-dark-surface 
           hover:bg-light-background dark:hover:bg-dark-background 
           text-light-text dark:text-dark-text 
           hover:text-light-primary dark:hover:text-dark-primary 
           px-4 py-2 rounded-lg 
           transition-all duration-500 cursor-pointer;
  }

  /* Optional: Add button variations */
  .button-primary {
    @apply bg-light-primary text-white dark:bg-dark-primary hover:opacity-90;
  }

  .button-outline {
    @apply border border-light-primary text-light-primary dark:border-dark-primary dark:text-dark-primary hover:bg-light-primary/10;
  }

  .max-screen-width{
    @apply max-w-screen-xl;
  }
}
